{{!-- signup page --}}
{{!-- ppt page 2 --}}
{{!-- option: consider signup with slack, google account --}}

<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  
  <br><br>

  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="Your email">
  
  <br><br>

  <label for="address">Address
  <input id="address" type="text" name="address1" placeholder="Address Line 1">
  <br><br>
  
  <input id="address1" type="text" name="address2" placeholder="Address Line 2">
  <br><br>
  </label>

  <label for="pincode">Zip/Postal Code </label>
  <input id="pincode" type="number" name="pincode" placeholder="Postal Code">
 

  <br><br>
  <label for="country">Country</label>
  <input id="country" type="text" name="country" placeholder="Country">
  
  
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
