{{!-- signup page --}}
{{!-- ppt page 2 --}}
{{!-- option: consider signup with slack, google account --}}
<section class="login-block">
<div class="container">
	<div class="row">
    	<div class="col-md-12 login-sec">
<h2 class="text-center">Signup</h2>


<form class="login-form" action="/auth/signup" method="POST" id="form-container">
  <div  class="form-group">
  <label  for="username" >Username</label>
 <input id="username" type="text"   class="form-control" name="username" placeholder="JonSnow">
</div>
 
   <div  class="form-group">
  <label for="password">Password</label>
  <input id="password" type="password"   class="form-control" name="password" placeholder="Your password">
  </div>

  <div class="form-group">
  <label   for="email">Email</label>
   <input id="email" type="email" name="email"   class="form-control" placeholder="Your email">
  </div>
  
  <div class="form-group">
  <label   for="address">Address Line 1</label>
  <input id="address" type="text" name="address1"   class="form-control" placeholder="Address Line 1">
  </div>
   
  <div class="form-group">
    <label  for="address">Address Line 2</label>
  <input id="address1" type="text" name="address2"   class="form-control" placeholder="Address Line 2">
  </div>
  

  <div class="form-group">
  <label  for="pincode">Zip/Postal Code </label>
  <input id="pincode" type="number" name="pincode"   class="form-control" placeholder="Postal Code">
  </div>

    <div class="form-group">
    <label >Country:</label> 
    <select class="gds-cr  form-control" country-data-region-id="gds-cr-one" name="country" ></select>
    </div>
    <div class="form-group">
    <label >Region:</label>
    <select class="form-control" id="gds-cr-one" name="region" ></select>
    </div>
  
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>
   <div class="form-group">
  <div class="col-sm-4" "offset-sm-4">
  <button class="btn  btn-login text-center" style="background-color:  #5E4485; color:white">Create account</button>
   </div>
   </div>
  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
</div>
</div>
</div>
</section>

