<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
 <link href='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet'/>
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

 <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
 <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
 {{!-- bootstrap --}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
  {{!-- nav bar should different for user login or not --}}
  {{!-- use isConnected, isAdmin to check --}}
  {{!-- reference w5d1-passport-role --}}
  
   <nav class="navbar navbar-expand-md navbar-light" style="background-color:  #5E4485;">
        <a class="navbar-brand  text-white" href="#">Food Share</a>
        {{!-- <a href="#" class="pull-left"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHzRX6oD6JTCoQclNGsFZpisj8XKbe1LfJ1ZfX2hti448xXEFEkg"></a>  --}}
        {{!-- <a class="navbar-brand" href="#" style="padding: 4px;margin:auto"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHzRX6oD6JTCoQclNGsFZpisj8XKbe1LfJ1ZfX2hti448xXEFEkg" style="height:100%;width: auto;"></a> --}}
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link  text-white btn-outline-secondary " href="/">Home <span class="sr-only">(current)</span></a>
            </li>
               {{#unless isConnected}}
            <li class="nav-item active">
              <a class="nav-link   text-white btn-outline-secondary " href="/auth/login">Login</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link  text-white btn-outline-secondary " href="/auth/signup">Signup</a>
            </li>
            {{/unless}}
            {{#if isConnected}}
            <li class="nav-item active">
            <a class="nav-link  text-white btn-outline-secondary " href="/auth/logout">Logout</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link  text-white btn-outline-secondary " href="/profile">Profile</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link  text-white btn-outline-secondary " href="/profile/create">Upload</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link  text-white btn-outline-secondary " href="/profile/orders">Orders</a>
            </li>
          
            {{/if}}

          </ul>
        </div>
    </nav>  
  
{{!-- <div class="container"> </div> --}}

{{{body}}}

 
{{!-- #5E4485 --}}
{{!-- #596a74 --}}
  <script src="/javascripts/geodatasource-cr.min.js"></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>