<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  {{!-- nav bar should different for user login or not --}}
  {{!-- use isConnected, isAdmin to check --}}
  {{!-- reference w5d1-passport-role --}}
  <nav>
   
    <a href="/">Home</a>
     {{#unless isConnected}}
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    {{/unless}}

    {{!-- <a href="/auth/logout">Logout</a> --}}
    {{!-- <a href="/auth/upload"></a> --}}
    {{#if isConnected}}
    {{!-- <a href="/foods">Home</a> --}}
    <a href="/auth/logout">Logout</a>
    <a href="/profile">Profile</a>
    <a href="/profile/create">Upload</a>
    <a href="/profile/orders">Orders</a>

    {{/if}}

  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>