body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.foods-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.food-item {
  width: 30%;
  margin: 15px;
}

.food-item img {
  width: 50%;
}

.distance-container {
  width:400px;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.distance-container > * {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  display: block;
  margin: 0;
  padding: 5px 10px;
  border-radius: 3px;
}